@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
 
  }
  /* .active{
    color:#FB2E86
  } */
  .hecto{
font-size: 34px;

  }
  .select{
    height: 2rem;
    min-height: 0;
    
  }
  .select:focus {
    box-shadow: none;
   
    
}
/* Hide arrows for number inputs in most browsers */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Remove spinner arrows in WebKit browsers (Chrome, Safari, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}