@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
 
  }
  /* .active{
    color:#FB2E86
  } */
  .hecto{
font-size: 34px;

  }
  .select{
    height: 2rem;
    min-height: 0;
    
  }
  .select:focus {
    box-shadow: none;
   
}